.history-main{
    background-color: #5acad2;
    color: white;
}
.history-main-deposit{
    border: 2px solid greenyellow;
    background-color: rgba(172, 255, 47, 0.542);
    margin: 15px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
}
.history-main-withdraw{
    border: 2px solid red;
    background-color: rgba(255, 48, 48, 0.575);
    margin: 15px;
    border-radius: 15px;
    backdrop-filter: blur(2px);
}


.history-item{
    height: 100px;
    font-size: 2vw;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    
}
.history-item-amount{
    font-size: 3vw;
    font-weight: bold;
}

.history-time-stamp{
    font-size: 12vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    gap: 20px;
    padding-bottom: 20px;
}
.history-time-stamp-item{
    font-size: 1vw;
    font-weight: bold;
}
@media (max-width:1200px){
    .history-main{
        width: 105%;
        margin-left: auto;
        margin-right: auto;
    }
    .history-item{
        margin-top: -30px;
    }
    .history-time-stamp{
        margin-top: -30px;
        display: flex;
        justify-content: flex-end;
        /* margin-right: -2px; */
    }
    .history-time-stamp-item{
        font-size: 1.5vw;
        font-weight: bold;
    }
    .ss-day{
        margin-left: -5px;
    }
    .ss-time{
        margin-left: 5px;
    }
    
    
}
