.sidebar {
    /* background-color: rgb(250, 120, 187); */
    width: 80vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar-item {
    opacity: 100%;
    font-size: 2vw;
    font-weight: bold;
    color: aliceblue;
    /* background-color: aqua; */
    margin-top: 2%;
    display: flex;
    justify-content: center;
    /* height: 40px; */
    backdrop-filter: blur(25px);
    /* background-color: #000000; */
    transition: all .2s ease-in-out;
    border-radius: 15px;
    /* opacity: 12%; */
}

.sidebar-item:hover {
    transform: scale(1.2);
}

.s-i-bal {
    box-shadow: 0 0 22px 1px rgb(222, 116, 234);
    font-size: 2.5vw;

}

.s-i-d {
    box-shadow: 0 0 22px 1px #99dc3a;
}

.s-i-w {
    box-shadow: 0 0 22px 1px #ff4e4e;
}

@media (max-width:1200px) {
    
    .sidebar-item {
        flex-direction: column;
        text-align: center;
        margin: 4 5px;
    }
}